<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="row" *ngFor="let todo of todos; let i =index">
                <div class="col-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne"
                                style="display: flex;justify-content: space-between;">
                                <div>
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            {{todo.name}}
                                        </button>
                                    </h5>
                                </div>
                                <div>
                                    <button (click)="onToDoUpdate(todo)" type="button" class="btn btn-secondary btn-sm"
                                        style="margin-right: 2px;">
                                        Update</button>
                                    <button (click)="onToDoDelete(todo)" type="button" style="margin-right: 2px;"
                                        class="btn btn-danger btn-sm">Delete</button>
                                    <button type="button" class="btn btn-success btn-sm">Add SubTask</button>
                                </div>

                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p><b>Description:</b> {{todo.description}}</p>
                                    <div class="card" *ngFor="let item of todo.items; let j =index"
                                        style="margin-bottom: 5px;">
                                        <div class="card-body" style="display: flex;justify-content: space-between;">
                                            <div>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="true"
                                                        aria-controls="collapseOne">
                                                        {{item.name}}
                                                    </button>
                                                </h5>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">ToDo Title</label>
                    <input [(ngModel)]="todoTitle" type="text" class="form-control" name="todoTitle"
                        id="exampleInputEmail1" placeholder="Enter title" value="{{todoTitle}}" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <input [(ngModel)]="todoDesc" type="text" value="{{todoDesc}}" name="todoDesc" class="form-control"
                        id="exampleInputPassword1" placeholder="Description" required>
                </div>
                <input type="hidden" [(ngModel)]="todoId" value="{{todoId}}" name="todoId">
                <button *ngIf="!isUpdate" (click)="createToDo()" type="submit" class="btn btn-primary">Create</button>
                <button *ngIf="isUpdate" (click)="updateToDo()" type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>